<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Add Places</h1>
    <form action="/places" method="post">
      <input id="new-city" name="new-city" type="text" required="true" placeholder="City">
      <input id="new-state" name="new-state" type="text" placeholder="State or Country">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
