<h1>Add Places</h1>
<form action="/places" method="post">
  <label for="new-city">Add a new City</label>
  <input id="new-city" name="new-city" type="text">
  <label for="new-state">State</label>
  <input id="new-state" name="new-state" type="text">
  <button type="submit">Submit</button>
</form>
