<h1>Add Places</h1>
<form action="/places" method="post">
  <input id="new-city" name="new-city" type="text" required="true" placeholder="City">
  <input id="new-state" name="new-state" type="text" placeholder="State or Country">
  <button type="submit">Submit</button>
</form>
